@import url(http://fonts.googleapis.com/css?family=Cookie);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Lora;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

.bingo-header {
  background: #333;
  height: 4px;
  margin-bottom: 36px;
  margin-top: 18px;
}

.bingo-header h1 {
  color: #333;
  background: white;
  width: 300px;
  margin: 0 auto;
  height: 36px;
  text-align: center;
  font-family: Cookie;
  font-size: 60px;
  line-height: 4px;
}

.bingo {
  table-layout: fixed;
  border-radius: 10px;
}
.bingo th {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.bingo tbody tr {
  height: 120px;
}

@media (max-width: 480px) {
  .bingo tbody tr {
    height: 80px;
  }
}

.bingo tbody tr td {
  box-sizing: border-box;
  padding: 16px 8px;
}

.nav {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.nav .nav-page {
  margin-left: 1em;
  color: #888;
}

.nav .nav-page:hover {
  color: #333;
  text-decoration: none;
}

.nav .nav-page:after {
  content: "\00BB";
  margin-left: 4px;
}

.attribution {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #888;
}

.bingo-target-form {
  margin-top: 4em;
  width: 100%;
}

.bingo-target-form .form-control {
}

.bingo-target-form button {
}

.bingo-target-list {
  padding: 0;
  margin: 1em 0;
  box-sizing: border-box;
}
.bingo-target {
  list-style: none;
  margin: 0;
  padding: 1em;
}
.bingo-target:nth-child(2n+1) {
  background-color: #f8f8f8;
}
.bingo-target:first-child {
  border-radius: 4px 4px 0px 0px;
}
.bingo-target:last-child {
  border-radius: 0px 0px 4px 4px;
}
.bingo-target button {
  float: right;
  line-height: 1;
  color: #888;
  margin-top: -0.25em;
}

@media print {
  .nav { display: none; }
  .attribution { display: none; }
}
